@import url('https://fonts.googleapis.com/css?family=Nunito');


* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}
h2 {
  margin: 10px 0px;
}
p {
  font-size: 18px;
}
ul {
  list-style-type: none;
}
li {
  display: inline-block;
}
a {
  text-decoration: none;
}
.pad-top-30 {
  padding: 30px 0px;
}
.container {
  display: grid;
  grid-template-columns: 15% auto 15%;
  grid-template-rows: repeat(6, 16.6%);
}
#header {
  width:100%;
}
.header {
  grid-column: 1 / span 3;
  grid-row: 1;
  width:100%;
  /*background-image: url('../assets/photo_08.jpg');*/
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center bottom;
  text-align:center;
  background-image: linear-gradient(to bottom, #333333, transparent), url('../assets/photo_08.jpg');
    background-blend-mode: overlay;
}
/*
  ==============
  bOUNCING aRROW
  ==============
*/


.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: #3cddd5;
	fill: transparent;
	stroke-width: 1px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}


/*
  ======
  bUTTON
  ======
*/
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 15px 60px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  overflow: hidden;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn {
	border: 3px solid #3cddd5;
	color: #3cddd5;
}

.btn:after {
	width: 0;
	height: 103%;
	top: 50%;
	left: 50%;
	background: #3cddd5;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.btn:hover,
.btn:active {
	color: #fff;
}

.btn:hover:after {
	width: 95%;
	opacity: 1;
}

.btn:active:after {
	width: 101%;
	opacity: 1;
}
/*
  ==========
  nAVIGATION
  ==========
*/
.nav-container {
  display:grid;
  grid-template-columns:10% auto auto 10%;
  grid-template-rows: auto auto;
}
.nav-logo {
  grid-column: 2;
  grid-row: 2;
  text-align:left;
}
.nav-items {
  grid-column: 3;
  grid-row: 2;
  text-align:right;
}
.nav-contact-info {
  grid-column: 3;
  grid-row: 1;
  text-align:right;
  padding-top: 10px;
  padding-right:10px;
}
nav {
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 4px solid #3cddd5;
    height: auto;
    top: 0;
    position: absolute;
    visibility: none;
    z-index: 1000;
    width: 100%;
}
nav ul {
    list-style: none;
}
nav li {
    display: inline-block;
    padding: 20px 30px;
}
  nav li:hover {
    background-color: #3cddd5;
    color:#ffffff;
  }
nav li:last-child {
    border: 0;
}

/*
  ======
  hEADER
  ======
*/
.logo {
  float:left;
  position: relative;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

/*
  ===============
  pROGRESS lOADER
  ===============
*/
#overlay{
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background: rgba(214,252,250,1);
  background: -moz-linear-gradient(-45deg, rgba(214,252,250,1) 0%, rgba(60,221,213,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(214,252,250,1)), color-stop(100%, rgba(60,221,213,1)));
  background: -webkit-linear-gradient(-45deg, rgba(214,252,250,1) 0%, rgba(60,221,213,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(214,252,250,1) 0%, rgba(60,221,213,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(214,252,250,1) 0%, rgba(60,221,213,1) 100%);
  background: linear-gradient(135deg, rgba(214,252,250,1) 0%, rgba(60,221,213,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6fcfa', endColorstr='#3cddd5', GradientType=1 );
  transition: 1s 0.4s;
}
#progress{
  height:3px;
  background:#fff;
  position:absolute;
  width:0;
  top:50%;
}
#progstat{
  font-size:1.2em;
  letter-spacing: 3px;
  position:absolute;
  top:50%;
  margin-top:-40px;
  width:100%;
  text-align:center;
  color:#fff;
}
/*
  ============
  iNTRODUCTION
  ============
*/
.intro-container {
  grid-column:1/4;
  grid-row-start:2;
  grid-row-end: 3;
  /* background-color: lightgreen; */
  background: rgba(214,252,250,1);
  background: -moz-linear-gradient(-45deg, rgba(214,252,250,1) 0%, rgba(60,221,213,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(214,252,250,1)), color-stop(100%, rgba(60,221,213,1)));
  background: -webkit-linear-gradient(-45deg, rgba(214,252,250,1) 0%, rgba(60,221,213,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(214,252,250,1) 0%, rgba(60,221,213,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(214,252,250,1) 0%, rgba(60,221,213,1) 100%);
  background: linear-gradient(135deg, rgba(214,252,250,1) 0%, rgba(60,221,213,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6fcfa', endColorstr='#3cddd5', GradientType=1 );
}
.introduction {
  display: inline-grid;
  grid-template-columns: 15% auto 15%;
  grid-tempalte-rows: auto;
  text-align:center;
  padding: 115px;
}
.intro-content {
  grid-column: 2;
  grid-row: auto;
}
  .introduction p {
    text-align:left;
  }
/*
  ================
  bEFORE AND AFTER
  ================
*/
.before-after {
  grid-column: 2;
  grid-row: 3;
  text-align:center;
  padding: 115px;
}
.photo-container {
  margin: 0 auto;
}
.photo-desc {
  padding: 30px;
}

/*
  ============
  pUBLICATIONS
  ============
*/
.publication-container {
  background-color: lightgreen;
  grid-column: 1/4;
  grid-row:4;
  text-align:center;
}
.publications {
  display: inline-grid;
  grid-template-columns: 15% auto 15%;
  grid-template-rows: auto;
  padding:115px;
}
.publication-content-container {
  grid-column: 2;
  grid-row:auto;
  text-align:left;
}
.publication-content {
  display: inline-grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-column-gap: 40px;
}
.publication-one {
  grid-column:
}

/*
  =======
  cONTACT
  =======
*/
 .contact {
   grid-column: 2;
   grid-row: 5;
   text-align:center;
 }
.contact-container {
  display:inline-grid;
  grid-template-columns: 50% 50%;
  grid-template-rows:25% 25% 25% 25%;
  grid-column-gap: 20px;
  text-align:center;
}
.contact-name {
  grid-column: 1 / span 2;
  grid-row: 1;
  width:100%;
}
.contact-email {
  grid-column: 1 / span 2;
  width:100%;
}
.contact-phone {
  grid-column: 1 / span 1;
  width:100%;
}
.contact-select {
  grid-column: 2 / span 2;
  width:100%;
}
.contact-btn {
  grid-column: 1 / span 2;
  width:100%;
  margin: 0;
}
/*
  ======
  fOOTER
  ======
*/

.footer {
  grid-column: 1 / span 3;
  grid-row: 6;
}
